
#slide {    
    overflow: hidden;
    position: relative;
    width: 100%;	/* 圖片的寬 */
    height: 412px;	/* 圖片的高 */
    margin-bottom: 20px;
    margin-top: 60px;

}
#slide ul {
    width: 9999px;
    position: absolute;

}
#slide ul li {
    float: left;
}
#slide ul li a {
    display: block;
    width: 850px;/* 圖片的寬 */
}
.control {
    text-decoration: none;
    position: absolute;
    top: 45%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    font-family: Helvetica;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.control.right {
    right: 15px;
    left: auto;
}
.control:hover, .control:focus {
    color: #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#MAIN {
    width: 810px;
    overflow: hidden;
    background-color:rgba(255,255,255,0.3);
    box-shadow:2px 5px 10px #000000;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;

}
#MAIN #tabMenu {
    width:840px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#MAIN> ul > li {
    position: relative;
    display:inline-block;
    width: 100px;
    height: 40px;
    float:left;
    border-radius: 20px 20px 0 0;
    margin-left: 8px;
    background-color: #ee9900;
    color: #000000;

}
#MAIN >ul>li > a {

    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #000000;
    text-decoration: none;

    letter-spacing:1px;
    border-radius: 20px 20px 0 0;

}

.NOWTAB {

    position:relative; /* 相對座標模式 */
    z-index:99; /* 使用 z-index 就可以重疊壓在其他物件的上面*/
    background-color: #FFF;
    color:#000000;
    font-weight:bold;
    border-radius: 20px 20px 0 0;
}

#ALL{
    overflow:hidden;
    clear:both;
}

.BOXS {
    float: left;
    width: 95%;
    background-color: #ffffff;
    overflow: hidden;
    padding: 20px;
    position:relative;
    z-index:11;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000000;
}
.BOXS p {

    width: 100%;
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 1px;
    padding-top: 15px;
    text-align:justify;
}

#BOX2, #BOX3, #BOX4,#BOX5 {
    display:none;
}

.product_list {
    float: left;
    width: 160px;
    height: 320px;    
    margin: 15px;
}
.product_list img,.product_list p,.product_list h3{
    font-size: 16px;
    margin: 10px;
    width: 150px;

}

.product_list a{
    display: block;
    width: 170px;
    height: 320px;
    text-decoration: none;
    color: black;
    outline: none;
}
.product_list a:hover{
    border: 1px #666666 solid;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #333333 inset,3px 3px 8px #666666 inset,5px 5px 10px #999999 inset,8px 8px 12px #BBBBBB inset;
}

#subselect{
    width: 110px;
    position: absolute;
    left: -130px;
    top: 450px;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    line-height: 30px;
    box-shadow: -2px 5px 10px #333333;
    font-weight:bold;


}
button{
    border: 1px #000000 solid;
}
