*{
    margin:0;
    padding: 0;
}
body{
    background-image: url("../images/bg-body.jpg") ;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size:cover;

}

.wrapper{
    width: 850px;
    margin: 0 auto;
    position: relative;

}
.header_outside{
    width: 100%;
    background-color: black;
    top: 0;
    z-index: 999;
    position: fixed;
    height: 50px;
}
.header{
    width: 850px;
    color: white;
    margin: 0 auto;
}
.logo{
    position: absolute;
    width: 8%;
    z-index: 2;
}
.header form input:last-child{
    background:url(../images/buttons.png) no-repeat;
    border:0;
    float:left;
    width:72px;
    height:24px;
    margin-top:15px; 
    margin-left:10px;
    cursor:pointer;
}
.header form input:last-child:hover{
    background:url(../images/buttons.png) no-repeat 0px -134px;



}

.header form input:first-child{
    background: url(../images/bg-search.jpg) no-repeat;  
    float:left;
    width: 170px;
    height:24px;
    margin-top: 15px;
    margin-left:120px;

}

.memberlist{

    height: 50px;
    float: right;


}
.memberlist img{
    width: 50px;
    float: right;
}
.memberlist a, .memberlist span{
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    line-height: 50px;
    margin:0 10px;


}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a img {
    border: none;
}

.footer{
    width: 850px;
    position: relative;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    height: 50px;
    bottom: 0;
    margin: 0px auto;


}

.footer .contactus{
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #FF8800;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    font-size: 16px;
    margin: 20px;
    top:0;
    right: 100px;
    animation: myanimate1 2s infinite reverse;
}
.footer .contactus:hover{
    animation-name: scale;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}
.footer .qanda{
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #FF8800;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    font-size: 16px;
    margin: 20px;
    top:0;
    right: 0;
    animation: myanimate 2s infinite;
}
.footer .qanda:hover{
    animation-name: scale;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

@keyframes myanimate {
    0%{top:0px;right:0px;}
    12.5% {top:-5px;right:-5px;}
    25%{top:-5px;right:0px;}
    37.5%{top:-5px;right:5px;}
    50%{top:0px;right:5px;}
    62.5&{top:5px;right:5px;}
    75%{top:5px;right:0px;}
    87.5%{top:5px;right:-5px;}
    100%{top:0px;right:0px;}
}
@keyframes myanimate1 {
    0%{top:0px;right:100px;}
    12.5% {top:-5px;right:95px;}
    25%{top:-5px;right:100px;}
    37.5%{top:-5px;right:105px;}
    50%{top:0px;right:105px;}
    62.5&{top:5px;right:105px;}
    75%{top:5px;right:100px;}
    87.5%{top:5px;right:95px;}
    100%{top:0px;right:100px;}
}

@keyframes scale{
    25% {transform: scale(1.4);} 
    50% {transform: scale(1);}
    75% { transform: scale(1.2);}
}

